<div class = "chat-header">
  <div class = "left-header">
    <div class = "header-title">
      ポスカの仲間達
    </div>
  </div>
  <div class = "right-header">
    <div class = "header-button">
      <a href = "#">チャットを終わるぜ✨</a>
    </div>
  </div>
</div>

<div class = "messages">
  <div class = "message">
    <div class = "upper-message">
      <div class = "message-user">
        キャスカ
      </div>
      <div class = "message-date">
        20xx/12/25(Tue) 13:56:25
      </div>
    </div>
    <div class ="lower-message">
      <div class ="message-content">
        こんちゃこんちゃ〜
      </div>
    </div>
  </div>

  <div class = "message">
    <div class = "upper-message">
      <div class = "message-user">
        こうじ君
      </div>
      <div class = "message-date">
        20xx/12/25(Tue) 15:35:12
      </div>
    </div>
    <div class = "lower-message">
      <div class = "message-content">
        眠気が備長炭
      </div>
    </div>
  </div>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class = "form-input">
    <%= f.text_field :contet, class: 'form-message', placeholder: '書いちゃいなよ★' %>
    <label class = "form-image">
      <span class = "image-file">ガゾウ</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送り人', class: 'form_submit' %>
<% end %>