<div class = "side-bar-header">
  <div class = "header-name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class = "create-room">
    <a href = "#">チャットを作るよ〜ん!</a>
  </div>
</div>

<div class = "rooms">
  <div class = "room">
    <div class = "room-name">
      <a href = "#">服好きの人集まれ~!</a>
    </div>
  </div>
  <div class = "room">
    <div class = "room-name">
      <a href = "#">バカヤロウの集い</a>
    </div>
  </div>
</div>